

body{
	background: url(g3.jpg) no-repeat center fixed;
	background-size: cover;
}

#t1{
	width: 80%
	margin: auto;
	border:1px solid white;
	border-collapse: collapse;
	text-align: center;
	font-size: 30px;
	table-layout: fixed;
	background:blue;
	opacity: 0.5;
	color: white;
	margin-top: 100px;
}
